<div id="settingsContainer" style="display: none;">
    <div id="settingsContainerLeft">
        <div id="settingsNavContainer">
            <div id="settingsNavHeader">
                <span id="settingsNavHeaderText">Settings</span>
            </div>
            <div id="settingsNavItemsContainer">
                <div id="settingsNavItemsContent">
                    <button class="settingsNavItem" rSc="settingsTabWarcraft" selected>Warcraft</button>
                    <button class="settingsNavItem" rSc="settingsTabMods">Mods</button>
                    <button class="settingsNavItem" rSc="settingsTabLauncher">Launcher</button>
                    <div class="settingsNavSpacer"></div>
                    <button class="settingsNavItem" rSc="settingsTabAbout">About</button>
                    <div id="settingsNavContentBottom">
                        <div class="settingsNavDivider"></div>
                        <button id="settingsNavDone">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="settingsContainerRight">
        <div id="settingsTabWarcraft" class="settingsTab">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText">Warcraft Settings</span>
                <span class="settingsTabHeaderDesc">Options related to the game.</span>
            </div>
            <div class="settingsFieldContainer">
              <div class="settingsFieldLeft">
                  <span class="settingsFieldTitle">Install Location</span>
                  <span class="settingsFieldDesc">The location where World of Warcraft will be installed for you.</span>
              </div>
              <div class="settingsFieldRight">
                <input id="settingsWoWPathVal" type="text" cValue="WoWPath" value="" disabled>
                <input id="settingsWoWPathSel" type="file" id="wowpathselector" webkitdirectory>
                <!-- <label id="settingsWoWPathLabel" for="settingsWoWPathSel">Choose File</label> -->
              </div>
            </div>
        </div>
        <div id="settingsTabMods" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText">Mod Settings</span>
                <span class="settingsTabHeaderDesc">Enable or disable mods.</span>
            </div>
        </div>
        <div id="settingsTabLauncher" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText">Launcher Settings</span>
                <span class="settingsTabHeaderDesc">Options related to the launcher itself.</span>
            </div>
            <div class="settingsFieldContainer">
              <div class="settingsFieldLeft">
                  <span class="settingsFieldTitle">Allow background seeding.</span>
                  <span class="settingsFieldDesc">Help other players download the game faster by volunteering some of your upload bandwidth.</span>
              </div>
              <div class="settingsFieldRight">
                <label class="toggleSwitch">
                    <input type="checkbox" cValue="AllowBackgroundSeeding">
                    <span class="toggleSwitchSlider"></span>
                  </label>
              </div>
            </div>
            <div class="settingsFieldContainer">
                <div class="settingsFieldLeft">
                    <span class="settingsFieldTitle">Allow prerelease updates.</span>
                    <span class="settingsFieldDesc">Prereleases contain the latest features and updates, however they may be buggy.<br>This will always be true if you are using a prerelease version.</span>
                </div>
                <div class="settingsFieldRight">
                    <label class="toggleSwitch">
                        <input type="checkbox" cValue="AllowPrerelease">
                        <span class="toggleSwitchSlider"></span>
                    </label>
                </div>
            </div>
        </div>
        <div id="settingsTabAbout" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText">About</span>
                <span class="settingsTabHeaderDesc">View information and release notes for the current version.</span>
            </div>
            <div id="settingsAboutCurrentContainer">
                <div id="settingsAboutCurrentContent">
                    <div id="settingsAboutCurrentHeadline">
                        <img id="settingsAboutLogo" src="./assets/images/smallsqlogo.png">
                        <span id="settingsAboutTitle">Ages of Warcraft Launcher</span>
                    </div>
                    <div id="settingsAboutCurrentVersion">
                        <div id="settingsAboutCurrentVersionCheck">&#10003;</div>
                        <div id="settingsAboutCurrentVersionDetails">
                            <span id="settingsAboutCurrentVersionTitle">Stable Release</span>
                            <div id="settingsAboutCurrentVersionLine">
                                <span id="settingsAboutCurrentVersionText">Version </span>
                                <span id="settingsAboutCurrentVersionValue">0.0.1-alpha.12</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="settingsAboutButtons">
                    <a href="https://www.ageswarcraft.io/" id="settingsAboutSupportButton" class="settingsAboutButton">Support</a>
                    <a href="#" id="settingsAboutDevToolsButton" class="settingsAboutButton">DevTools Console</a>
                </div>
            </div>
            <div class="settingsAboutDivider"></div>
            <div id="settingsChangelogContainer">
                <div id="settingsChangelogContent">
                    <div id="settingsChangelogHeadline">
                        <div id="settingsChangelogLabel">Release Notes</div>
                        <div id="settingsChangelogTitle">Changelog</div>
                    </div>
                    <div id="settingsChangelogText">
                        No Release Notes
                    </div>
                </div>
                <div id="settingsChangelogActions">
                    <a id="settingsChangelogButton" class="settingsAboutButton" href="https://github.com/agesofwarcraft/launcher">View Release Notes on GitHub</a>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/settings.js"></script>
</div>
